.profile-infos{
  position: relative;
}
.edit-profile-input {
  border-radius: 10px !important;
  background-color: transparent !important;
  direction: ltr;
  text-align: right;
  border: 1px solid rgb(189, 189, 189) !important;
  height: 40px !important;
}
.date-picker-modal{
    bottom: 0 !important;
}
.profile-infos>div>div>input{
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 10px !important;
  border: 1px solid rgb(189, 189, 189) !important;
}
.bottom-datepicker{
  margin-top: auto !important;
}
