@font-face {
  font-family: iranSans;
  src: url(/src/Assets/Font/IRANSansWeb.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranSans;
  direction: rtl;
}
.App{
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: hidden !important;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.459);
}
.app-container{
  width: 420px;
  height: 100vh;
  background-color: #F8FAFC !important;
  overflow: hidden !important;
}
.page-wrap{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.dashboard-page{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding:0 10px;
  overflow-x: hidden;
  scrollbar-width: none !important;
}
.dashboard-page::-webkit-scrollbar{
  display: none !important;
}
.bottom-btn-box{
  max-width: 410px;
  width: 100% !important;
  display: flex;
  margin-top: auto !important;
  flex-direction: row !important;
  padding-bottom: 10px;
  justify-content: center !important;
  right: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.green-btn{
  background-color:#5CBA94 !important;
  color: white !important;
  border: 10px!important;
}
.border-dark-btn{
  background-color: #EFF8F4 !important;
  color: #334155 !important;
  border: 1px solid #64748B !important;
}
.submit-btn{
  width: 100%;
  border-radius: 10px !important;
  height: 40px !important;
}
.Toastify__toast-icon{
  display: none !important;
}
.react-code-input{
  direction: ltr;
  text-align: center !important;
  margin: 15px 0 !important;
}
.react-code-input>input{
  padding: 0 !important;
  text-align: center !important;
  border-radius: 10px !important;
  width: 40px !important;
  height: 45px !important;
}
.ant-modal-header , .ant-modal-footer{
  display: none;
}
.ant-modal-body{
  width: 100%;
  padding: 0 !important;
}
.ant-modal-content{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: unset !important;
  box-shadow: unset !important;
}
.ant-modal{
  max-width: 420px !important;
  width: unset !important;
}
.ant-modal-mask{
  width: 100% !important;
}
.ant-modal-wrap{
  width: 100% !important;
  z-index: 999999999999999999;
}
.ant-input-textarea{
  position: relative;
}
.ant-input-textarea-show-count::after{
  position:absolute;
  left: 0;
  bottom: -25px;
  direction: ltr;
}
.calendar-modal{
  width: 100% !important;
  position:absolute !important;
  bottom: 0 !important;
  margin: 0 !important;
  margin-top: auto !important;
  height: 380px !important;
  border-radius: 30px 30px 0 0;
}
.calendar-wrape-modal{
  display: flex;
  justify-content: center;
}
.Calendar{
  box-shadow: none !important;
}
.responsive-calendar {
    font-size: 9px !important;
}
.ant-select-selection-search-input,.ant-select-selection-placeholder{
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  vertical-align: middle;
}
.ant-select-selection-item{
  display:flex;
  align-items: center;
}
.ant-slider-track{
  background-color: #5CBA94 !important;
}
.ant-slider-mark-text{
  font-size: 10px;
}
.ant-radio-checked,.ant-radio-inner{
  border-color: #5CBA94 !important;
}
.ant-radio-checked::after{
  background-color: #5CBA94 !important;
}
.ant-checkbox-inner{
  background-color: #5CBA94 !important;
  border-color: #5CBA94 !important;
}