.pending{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.pending-loading{
    width: 70px;
}
.pending>span{
    color: #5CBA94;
    margin: 10px 0 5px 0;
    font-size: 18px;
    font-weight: 700;
}